<% if user_signed_in? %>
  <div>
    Welcome <%= current_user.email %>
  </div>
  <div>
    <%= button_to 'Sign Out', destroy_user_session_path, method: :delete %>
  </div>
<% else %>
  <div>
    <%= link_to 'Sign In', new_user_session_path %>
  </div>
<% end %>